<div class="titlebar">
        <div class="container">
             <div class="row">
                  <div class="col-md-12">
                      <h2 class="box-shadow">Topplistan</h2>
                  </div>
              </div>
        </div> 
</div>      
    
<div class="container" ng-controller="productsCtrl">

        <div class="row">

            <div class="col-md-12">

                <div class="row">

                    <div class="col-xs-6 col-ms-6 col-sm-4 col-md-3" ng-repeat="product in products | limitTo: limit as results">
                        <div class="thumbnail" ng-cloak>
                            <a href="#/{{product.Productname}}" ng-show="product.img" >
                                <span class="notify-badge">{{$index+1}}</span>
                                <img ng-src="{{product.img}}"  alt="" />
                            </a>
                             <a href="#/{{product.Productname}}" ng-show="!product.img">
                                <span class="notify-badge">{{$index+1}}</span>
                                <img ng-src="{{noImage.img}}"  alt="" />
                            </a>
                            <div class="caption">                               
                                <h5><a href="#">{{product.Productname}}</a>
                                </h5>
                            </div>
                            <div class="ratings">
                               <p class="pull-right">
                                    <span product-Rating rating-value="product.rating" max="5" readonly="true"></span>
                                </p>
                                <p>
                                   <h5>{{product.price | currency }}</h5>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-ms-6 col-sm-4 col-md-3" ng-hide="loadAll">
                      <div class="thumbnail">  
                          <a href="#/produtslist">
                            <img ng-src="{{noImage.addMore}}"  alt="" ng-click='loadMore()'/> 
                            <p style="text-align: center;text-decoration: underline" ng-click='loadMore()'> Show More</p> 
                          </a>                                        
                       </div> 
                    </div>
            </div>
        </div>
</div>